.form {
  display: grid;
  grid-gap: 5px
}
.buttonSubmit {
  background: #2980b9;
  color: #fff;
  padding: 10px;
  border: none;
}
.showInfo {
    border: 1px solid;
    margin-top: 10px;
    height: 225px;
    overflow-y: auto;
}